@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #F8FAFC;
    color: #0F172A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    flex: 1;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}